@font-face {
    font-family: "Raleway";
    src: url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Concert One";
    src: url('/fonts/Concert_One/ConcertOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url('/fonts/Lora/Lora-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

//hex colors
$nav-color-hover: #BABABB;
$nav-color: #46484A;
$nav-bg-color: #f2f2f2;
//$accent-color: #e7353e;
$accent-color: #E74C3C;
//$accent-color: #014E82;
//$accent-color-hover: #c3090b;
$accent-color-hover: #96291e;
//$accent-color-hover: #02304F;
$border-color: #dfdfdf;
$white: #fff;
$black: #000;
$author-text-color: #d3d3d3;
//rgba colors
$book-info-hover: rgba(0,
0,
0,
.7);
$form-border-focus: rgba(0,
160,
255,
.8);
$transparent: rgba(0,
0,
0,
0);
$quote-bg: rgba(0,
0,
0,
.5);
//fonts
$roboto: 'Roboto';
$raleway: 'Raleway';
$playfair: 'Playfair Display';
$ConcertOne: 'Concert One';
$lora: 'Lora';
span {
    .fa {
        .fa-heart {
            color: $accent-color;
        }
    }
}

.accent-bar {
    height: 5px;
    background-color: $accent-color;
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
}

textarea,
input,
button {
    outline: none;
    &:focus {
        outline: none;
    }
}

.navbar-container {
    .row-container {
        .navbar-main {
            border-top: 3px solid $accent-color;
            background-color: $nav-bg-color;
            border-bottom: 1px solid $border-color;
            display: flex;
            justify-content: space-between;

            .brand {
                color: $accent-color;
                font-family: $ConcertOne;
                padding: 0 0 0 20px;
                font-size: 42px;
                line-height: initial;
                margin: 0;
                transition: .3s;
                text-decoration: none;

                &:hover {
                    color: $accent-color-hover;
                }
            }
            .toggle {
                color: $nav-color;
                padding: 0 20px 0 0;
                font-size: 24px;
                margin: 0;
                line-height: 50px;
                transition: .3s;
                text-decoration: none;
                &:hover {
                    color: $nav-color;
                }
                &:visited {
                    color: $nav-color;
                }
            }
            .normal-links {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                ul {
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        a {
                            text-align: center;
                            color: $nav-color;
                            font-family: $raleway;
                            padding: 0 20px 0 0;
                            font-size: 18px;
                            margin: 0;
                            line-height: 50px;
                            transition: .3s;
                            text-decoration: none;
                            &:hover {
                                color: $nav-color-hover;
                            }
                        }
                    }
                }
            }
        }
        .dropdown-links {
            ul {
                margin: 0;
                border-bottom: 1px solid $border-color;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    a {
                        color: $nav-color;
                        font-family: $raleway;
                        font-size: 18px;
                        margin: 0;
                        line-height: 50px;
                        text-decoration: none;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.index-container {
    width: 100%;
    .top-section {
        background-image: url('../images/landing-bg.jpg');
        background-size: cover;
        @media (max-width: 991px) {
            background-size: 300%;
        }
        form {
            width: 100%;
            margin: 50px 0;
            display: flex;
            align-items: center;
            flex-flow: row;
            input {
                width: 100%;
                float: left;
                border-radius: 5px;
                font-size: 20px;
                font-family: $playfair;
                border: 1px solid $border-color;
                color: $nav-color;
                &:focus {
                    box-shadow: 0 0 7px 0 $form-border-focus;
                }
            }
            button {
                float: right;
                background-color: $accent-color;
                border-radius: 5px;
                font-size: 20px;
                border: none;
                color: $white;
                &:hover {
                    background-color: $accent-color-hover;
                    cursor: pointer;
                    transition: .15s;
                }
            }
        }
        .blockquote {
            background-color: $quote-bg;
            margin-bottom: 50px;
            p {
                color: white;
                font-family: "Segoe UI";
                font-weight: 300;
                font-size: 28px;
                word-wrap: break-word;
                text-align: justify;
            }
            footer {
                color: $author-text-color;
                font-size: 22px;
            }
        }
    }
    .intro {
        background-color: $white;
        text-align: justify;
        .line {
            border-top: 1px solid $border-color;
        }
        .intro-text {
            h1 {
                padding-top: 30px;
                padding-bottom: 20px;
                font-size: 28px;
                text-align: center;
                color: $black;
                font-family: $lora;
                font-weight: 400;
            }
            p {
                padding-bottom: 30px;
                font-size: 16px;
                font-family: $lora;
                text-align: justify;
                color: $black;
                font-weight: 400;
            }
            .last {
                padding-bottom: 80px;
            }
        }
    }
}

.container-dashboard {
    padding-bottom: 80px;
    .dash-container {
        main {
            padding-top: 20px;
            background-color: $white;
            .dash-text {
                border-bottom: 1px solid $border-color;
                h1 {
                    font-size: 20px;
                    font-family: $playfair;
                    color: $nav-color;
                    float: left;
                }
                i {
                    float: right;
                    font-size: 20px;
                    color: $nav-color;
                    &:hover {
                        color: $nav-color-hover;
                        cursor: pointer;
                        transition: .3s;
                    }
                }
            }
            .dash-controls {
                font-size: 16px;
                z-index: 1;
                background-color: $border-color;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    color: $nav-color;
                    transition: .3s;
                    &:hover {
                        color: $nav-color-hover;
                        transition: .3s;
                    }
                }
                .action-form {
                    width: 100%;
                    form {
                        display: flex;
                        align-items: center;
                        flex-flow: row;
                        padding: 20px;
                        button {
                            color: $nav-color;
                            border: none;
                            font-size: 16px;
                            float: right;
                            margin-left: 10px;
                            background-color: transparent;
                            &:hover {
                                color: $nav-color-hover;
                                cursor: pointer;
                                transition: .3s;
                            }
                        }
                        input {
                            color: $nav-color;
                            width: 100%;
                            max-width: 1000px;
                            border-radius: 5px;
                            border: none;
                            padding: 5px;
                            float: left;
                        }
                    }
                }
            }
        }
    }
    .livres {
        padding-top: 20px;
    }
    .livre {
        padding: 0;
        img {
            background-size: cover;
            height: 100%;
            width: 100%;
        }
        .livre-info {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            color: transparent;
            height: 100%;
            width: 100%;
            border: 3px solid $white;
            padding: 10px;
            overflow-y: auto;
            a {
                color: transparent;
                background-color: transparent;
            }
            &:hover,
            &:visited {
                background-color: $book-info-hover;
                border: 3px solid $white;
                transition: .15s;
                h4,
                p,
                a {
                    font-family: $lora;
                    word-wrap: break-word;
                }
                h4 {
                    color: $white;
                    font-size: 22px;
                }
                p {
                    color: $author-text-color;
                    font-size: 18px;
                }
                a {
                    background-color: $accent-color;
                    padding: 5px;
                    border-radius: 10px;
                    font-size: 14px;
                    font-family: $lora;
                    border: none;
                    color: $white;
                    &:hover {
                        background-color: $accent-color-hover;
                        cursor: pointer;
                        transition: .15s;
                    }
                }
            }
        }
    }
}

.register {
    padding-top: 20px;
    .row {
        .creation {
            .register-text {
                font-size: 64px;
            }
            form {
                color: $nav-color;
                font-size: 16px;
                input {
                    margin-bottom: 20px;
                }
                label {
                    font-family: $playfair;
                }
                .check-flex {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                }
                .remember-flex {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: center;
                    flex-direction: row;
                    padding-bottom: 80px;
                }
            }
        }
    }
}

.statistiques {
    .statistiques-container {
        main {
            padding-top: 20px;
            padding-bottom: 20px;
            .statistiques-text {
                border-bottom: 1px solid #EEEEEE;
                h1 {
                    font-size: 20px;
                    font-family: $playfair;
                    color: $nav-color;
                    float: left;
                }
            }
        }
    }
}

.emprunts {
    .emprunts-container {
        main {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .emprunts-text {
                border-bottom: 1px solid #EEEEEE;
                h1 {
                    font-size: 20px;
                    font-family: $playfair;
                    color: $nav-color;
                    float: left;
                }
                
            }
            .text {
                h3 {
                    font-size: 18px;
                    font-family: $playfair;
                    color: $nav-color;
                    font-weight: bold;
                }
                p {
                    font-size: 18px;
                    font-family: $lora;
                }
            }
    }
}

.chart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.container-livre {
    padding: 0;
    .livre-container {
        .livre-main {
            padding: 20px;
            .livre-titre {
                border-bottom: 1px solid $border-color;
                h1 {
                    font-size: 24px;
                    font-family: $playfair;
                    color: $nav-color;
                    float: left;
                }
                p {
                    font-size: 16px;
                    font-family: $playfair;
                    color: $nav-color;
                }
            }
            .livre-text {
                padding-top: 20px;
            }
        }
        .livre-side {
            border-left: 1px solid $border-color;
            @media (min-width: 992px) {
                height: 100vh;
                position: relative;
            }
            .livre-meta {
                padding: 20px;
                border-bottom: 1px solid $border-color;
                h1 {
                    font-size: 24px;
                    font-family: $raleway;
                    color: $nav-color;
                }
                p {
                    font-size: 16px;
                    font-family: $playfair;
                    color: $nav-color;
                }
            }
            .livre-auteur {
                padding: 20px;
            }
        }
    }
}

.ajouter-form {
    .ajouter-container {
        .ajouter-row {
            .ajouter-options {}
            .ajouter-main {
                border-left: 1px solid $border-color;
                border-right: 1px solid $border-color;
                .display-4 {
                    font-size: 20px;
                }
            }
            .ajouter-autre {}
        }
    }
}

.collections {

    .collections-container{

        main{
            padding-top: 20px;
            padding-bottom: 20px;

            .collections-text{
                border-bottom: 1px solid #EEEEEE;

                h1{
                    font-size: 20px;
                    font-family: $playfair;
                    color: $nav-color;
                    float: left;
                }
            }
        }
    }
}
.footer {
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    display: block;
    font-family: $playfair;
    text-decoration: none;
    color: $nav-color;
    border-top: 1px solid $border-color;
    .fa-heart {
        color: #E74C3C;
        margin: 5px;
    }
    .dBooks {
        color: $accent-color;
        font-family: $ConcertOne;
        font-size: 24px;
        margin: 5px;
    }
    .handle {
        a {
            font-family: $raleway;
            color: $accent-color;
            text-decoration: none;
            margin: 5px;
            &:hover {
                color: $accent-color-hover;
            }
        }
    }
}