<form method="GET" class="ajouter-form">
    <div class="container-fluid ajouter-container">
        <div class="row ajouter-row justify-content-center">
            <div class="col-12 col-lg-6 ajouter-main">
                <!--main-->
                <p class="display-4">Ajouter un livre</p>
            </div>
        </div>
    </div>
</form>