<form method="GET" class="ajouter-form">
    <div class="container-fluid ajouter-container">
        <div class="row ajouter-row">
            <div class="col-12 col-lg-3 ajouter-options">
                <!--options-->
                <p>options</p>
            </div>
            <div class="col-12 col-lg-6 ajouter-main">
                <!--main-->
                <p class="display-4">Ajouter un livre</p>
            </div>
            <div class="col-12 col-lg-3 ajouter-other">
                <!--autre-->
                <p>autre</p>
            </div>
        </div>
    </div>
</form>
    