<div class="container-fluid collections">
    <div class="collections-container">
        <div class="row no-gutters">
            <main class="col-12">
                <div class="collections-text clearfix">
                    <h1>Collections</h1>
                </div>
            </main>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered text">
                    <thead>
                        <tr>
                            <th>Nom collection</th>
                            <th>Ville</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#with collections as |collections|}} {{#each collections}}
                        <tr>
                            <th scope="row">{{NomCollection}}</th>
                            <td>{{NomVille}}</td>
                        </tr>
                        {{/each}} {{else}}
                        <p>Il n'y a aucune collection.</p>
                        {{/with}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>