<div class="index-container">
    <div class="row no-gutters justify-content-center top-section">
        <div class="col-10 col-md-8 col-lg-6 search-container">

            
            
            <form method="POST" class="clearfix">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{placeholder.Titre}}">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary fa fa-search" type="button"></button>
                    </span>
                </div>
            </form>
            
            <blockquote class="blockquote">
                <p class="mb-0">“{{quote.texte}}”</p>
                <footer class="blockquote-footer">{{quote.auteur}}</footer>
            </blockquote>
            
        </div>
    </div>

    <div class="intro row no-gutters justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 intro-text">
            <h1>
                Le but
            </h1>
            <p>
                Permettre à tous d’accéder plus facilement aux livres qu’ils souhaitent, et ce, de façon rapide et efficace.
            </p>
        </div>
    </div>
    <div class="intro row no-gutters justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 intro-text line">
            <h1>
                Comment l'atteindre
            </h1>
            <p>
                En permettant aux utilisateurs non seulement de cataloguer leur collection de livres dans une bibliothèque virtuelle, mais aussi de chercher dans celle d'autres utilisateurs et de les contacter pour permettre un partage.
            </p>
        </div>
    </div>
     <div class="intro row no-gutters justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 intro-text line">
            <h1>
                En bref
            </h1>
            <p>
                Cette application web offre gratuitement à tous ses membres l’opportunité de chercher des livres par titre, par auteur, par genre littéraire, par thème, ou encore par langue, dans leur propre collection, ou encore dans celle de quelqu’un d’autre. Il leur suffit simplement d’entrer quelques informations sur les livres qu’ils possèdent, puis ils pourront profiter pleinement de toutes les fonctionnalités de dBooks. 
            </p>
        </div>
     </div>
</div>