<!DOCTYPE html>
<html>
  	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/vendor/tether/dist/css/tether.min.css">
		<link rel="stylesheet" href="/vendor/tether/dist/css/tether-theme-arrows.min.css">
		<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway|Playfair+Display" rel="stylesheet">
		<link rel='stylesheet' href="/stylesheets/style.css"/>
		
	</head>
	<body>
		<nav>
			<div class="nav-content">
				<a href="/" class="brand font-smoothing">
					dBooks
				</a>
				<a href="javascript:void(0)" onclick="menuToggle()">
					<i class="material-icons">arrow_drop_down</i>
				</a>
			</div>
			<div class="nav-links">
				<a href="/dashboard">dashboard</a>
				<a href="#">se connecter</a>
			</div>
		</nav>

      	{{{body}}}

		<footer class="footer">
			<p>Avec <span class="fa fa-heart"></span> par <a href="https://twitter.com/ENTRYBOT_js">Entrybot</a> et <a href="https://twitter.com/quietly_burning">Quietlyburning</a></p>
		</footer>
		<script src="/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/vendor/tether/dist/js/tether.min.js"></script>
		<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src='/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js'></script>
		<script src="/javascripts/main.js"></script>
		<script type="text/javascript" src="//localhost:3000/livereload.js"></script>
	</body>
</html>
