<div class="container-fluid statistiques">
    <div class="row statistiques-container">
        <main class="col-12">
            <div class="statistiques-text clearfix">
                <h1>Statistiques</h1>
            </div>
        </main>
        <div class="col-6">
            <p>Nombre de livres: {{result.NombreDeLivres}}</p>
        </div>
    </div>
</div>
