@import url("https://fonts.googleapis.com/css?family=Concert+One");
span .fa .fa-heart {
  color: #e7353e;
}

textarea,
input,
button {
  outline: none;
}
textarea:focus,
input:focus,
button:focus {
  outline: none;
}

nav .nav-content {
  box-shadow: 0 -1px 3px 1px rgba(128, 128, 128, 0.5);
  position: relative;
  z-index: 10;
  background-color: #f2f2f2;
  display: flex;
  height: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav .nav-content .brand {
  padding-left: 20px;
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  font-family: "Concert One", sans-serif;
  color: #e7353e;
}
nav .nav-content .brand:hover, nav .nav-content .brand:visited {
  text-decoration: none;
  color: #e7353e;
  cursor: pointer;
  transition: .3s;
}
nav .nav-content i {
  font-size: 30px;
  color: #999;
  padding: 10px;
  line-height: 30px;
}
nav .nav-content i:hover {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}
nav .nav-links {
  width: 100%;
  z-index: 1;
  background-color: #f2f2f2;
  overflow: hidden;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 40px;
  border-bottom: 1px solid #dfdfdf;
}
nav .nav-links a {
  padding: 17px;
  text-decoration: none;
  font-size: 16px;
  color: #999;
  transition: .3s;
}
nav .nav-links a:hover {
  color: #666;
  transition: .3s;
}
@media (max-width: 575px) {
  nav .nav-links {
    flex-direction: column;
  }
  nav .nav-links a:not(:first-of-type) {
    border-top: 1px solid #dfdfdf;
  }
}

.index-container {
  width: 100%;
}
.index-container .top-section {
  background-image: url("/images/landing-bg.jpg");
  background-size: cover;
}
.index-container .top-section form {
  width: 100%;
  padding: 75px 0;
  display: flex;
  align-items: center;
  flex-flow: row;
}
.index-container .top-section form input {
  padding: 7px;
  width: 100%;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border: 1px solid #dfdfdf;
  color: #000;
}
.index-container .top-section form input:focus {
  box-shadow: 0 0 7px 0 #009dff;
}
.index-container .top-section form button {
  padding: 7px;
  float: right;
  margin-left: 10px;
  background-color: #e7353e;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  border: none;
  color: #fff;
}
.index-container .top-section form button:hover {
  background-color: #b7151d;
  cursor: pointer;
  transition: .15s;
}
.index-container .intro {
  background-color: #fff;
  text-align: justify;
}
.index-container .intro .intro-text h1 {
  margin: 20px;
  font-size: 36px;
  text-align: center;
  color: #000;
  font-family: "Raleway", sans-serif;
}
.index-container .intro .intro-text p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  color: #000;
}

.container-dashboard .dash-container main {
  padding-top: 20px;
}
.container-dashboard .dash-container main .dash-text {
  border-bottom: 1px solid #dfdfdf;
}
.container-dashboard .dash-container main .dash-text h1 {
  font-size: 28px;
  font-family: "Quicksand", sans-serif;
  color: #999;
  float: left;
}
.container-dashboard .dash-container main .dash-text i {
  float: right;
  font-size: 28px;
  color: #999;
}
.container-dashboard .dash-container main .dash-text i:hover {
  color: #666;
  cursor: pointer;
  transition: .3s;
}
.container-dashboard .dash-container main .dash-controls {
  z-index: 1;
  background-color: #dfdfdf;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .container-dashboard .dash-container main .dash-controls {
    flex-direction: column;
  }
}
.container-dashboard .dash-container main .dash-controls a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #999;
  transition: .3s;
}
.container-dashboard .dash-container main .dash-controls a:hover {
  color: #666;
  transition: .3s;
}
.container-dashboard .dash-container main .dash-controls .action-form {
  width: 100%;
}
.container-dashboard .dash-container main .dash-controls .action-form form {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding: 20px;
}
.container-dashboard .dash-container main .dash-controls .action-form form button {
  color: #999;
  border: none;
  font-size: 16px;
  float: right;
  margin-left: 10px;
  background-color: transparent;
}
.container-dashboard .dash-container main .dash-controls .action-form form button:hover {
  color: #666;
  cursor: pointer;
  transition: .3s;
}
.container-dashboard .dash-container main .dash-controls .action-form form input {
  color: #999;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  float: left;
}
.container-dashboard .livres {
  padding-top: 20px;
}
.container-dashboard .livre {
  padding: 0;
}
.container-dashboard .livre img {
  background-size: cover;
  height: 100%;
  width: 100%;
}
.container-dashboard .livre .livre-info {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: transparent;
  height: 100%;
  width: 100%;
  border: 3px solid #fff;
  padding: 10px;
  overflow-y: auto;
}
.container-dashboard .livre .livre-info a {
  color: transparent;
  background-color: transparent;
}
.container-dashboard .livre .livre-info:hover, .container-dashboard .livre .livre-info:visited {
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid #fff;
  transition: .15s;
}
.container-dashboard .livre .livre-info:hover h4,
.container-dashboard .livre .livre-info:hover p,
.container-dashboard .livre .livre-info:hover a, .container-dashboard .livre .livre-info:visited h4,
.container-dashboard .livre .livre-info:visited p,
.container-dashboard .livre .livre-info:visited a {
  font-family: "Raleway", sans-serif;
  word-wrap: break-word;
}
.container-dashboard .livre .livre-info:hover h4, .container-dashboard .livre .livre-info:visited h4 {
  color: #fff;
  font-size: 22px;
}
.container-dashboard .livre .livre-info:hover p, .container-dashboard .livre .livre-info:visited p {
  color: #d3d3d3;
  font-size: 18px;
}
.container-dashboard .livre .livre-info:hover a, .container-dashboard .livre .livre-info:visited a {
  background-color: #e7353e;
  padding: 5px;
  border-radius: 10px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  border: none;
  color: #fff;
}
.container-dashboard .livre .livre-info:hover a:hover, .container-dashboard .livre .livre-info:visited a:hover {
  background-color: #b7151d;
  cursor: pointer;
  transition: .15s;
}

.footer {
  padding: 20px;
  display: block;
}

/*# sourceMappingURL=style.css.map */
